<% include partials/header%>
<div class="container">
    <div class="jumbotron">
        <h1>Featured anime:</h1>
    </div>
        <div class="row text-center" style="display:flex; flex-wrap: wrap">
    <% for(var i=0; i< 12; i++) {%>
        <div class= "col-md-3 col sm-6">
            <div class="thumbnail">
            <%= parsedDataTopAnime["top"][i]["title"] %>
            <img src="<%= parsedDataTopAnime["top"][i]["image_url"]%>">
            <form action="/details/<%= parsedDataTopAnime["top"][i]["mal_id"] %>" id="parms" method="GET">
                <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 2px;">Primary</button>
            </form>
            </div>
        </div>
<% } %>
</div>
    </div>